.footer__container {
    background-color: var(--background-escuro);
}

.footer__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-base);
    width: 90%;
    max-width: 1280px;
    margin-inline: auto;
    padding-block: var(--spacing-base);
}

.footer__logo {
    height: calc(64px + 5vh);
}

.footer__navigation {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-base);
    list-style: none;
}

.footer__navigation li a {
    color: var(--cor-letra-clara);
    font-weight: 500;
}

.footer__social {
    justify-content: center;
    display: flex;
    gap: var(--spacing-base);
    list-style: none;
}

.footer__social li a {
    aspect-ratio: 1;
    display: inline-block;
    width: 32px;
    background-size: cover;
}

.footer__social li a[data-social="facebook"] {
    background-image: url("../../images/facebook.svg");
}

.footer__social li a[data-social="instagram"] {
    background-image: url("../../images/instagram.svg");
}

.footer__social li a[data-social="whatsapp"] {
    background-image: url("../../images/whatsapp.svg");
}

.footer__social li a[data-social="email"] {
    background-image: url("../../images/o-email.svg");
}

.copyright {
    background-color: var(--background-primario-claro);
    display: block;
    font-size: var(--text-md);
    padding-block: var(--spacing-sm);
    text-align: center;
}

@media (max-width: 1194px) and (orientation: landscape) {
    .footer__navigation {
        flex-direction: row;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    .footer__wrapper {
        flex-direction: column;
    }
}

@media (max-width: 915px) and (orientation: landscape) {
}

@media (max-width: 414px) and (orientation: portrait) {
    .footer__logo {
        display: none;
    }
}
