
.flex-container{
    display: flex;

}

.formulario-container{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.formulario{
    width: 80%;
    max-width: 400px;
}

.formulario h2{
    margin-bottom: 3rem;
}


.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}


.input-container input{
    border:none;
    border-bottom: 1px solid var(--cor-secundaria);
}


.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.links{
    color: #283618;
    font-weight: 600;
    text-decoration: none;
}


.links:hover{
    color: #606c38;
}



@media (max-width: 1194px) and (orientation: landscape) {

    .formulario-container{
        padding: 2em;
        width: 50%;  
    }

    .imagem{
        width: 50%;
    }

    footer{
        overflow: hidden; 
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    .formulario-container{
        padding: 2em;
        width: 50%;
    }

    .imagem{
        width: 50%;
    }
}


/*mobile*/

@media (max-width: 915px) and (orientation: landscape) {
    .flex-container{
    display: block;
}
.formulario-container{
    padding: 3em;
    width: 100%;
}

.imagem{
    display: none;
}
}

@media (max-width: 414px) and (orientation: portrait) {
    .flex-container{
    display: block;
}
.formulario-container{
    padding: 3em;
    width: 100%;
}

.imagem{
    display: none;
}
}


















